apscheduler
bing-image-urls
gTTS
googlesearch-python
httpx[http2]
pyfiglet
requests
lexica-api
SafoneAPI
nekos.py
telegraph
uuid
git+https://github.com/VIPBOLTE/KOKU_THEAPI@main
git+https://github.com/VIPBOLTE/KOKU_API
